.cp_actab01 {
position: relative;
overflow: hidden;
width: 100%;
margin: 0 auto;
color: #000000;
}
.cp_actab01 input {
position: absolute;
z-index: -1;
opacity: 0;
}
.cp_actab01 label {
font-weight: bold;
line-height: 3;
position: relative;
display: block;
padding: 0 0 0 1em;
cursor: pointer;
margin: 0 0 1px 0;
background: lightblue;
}
.cp_actab01 .cp_actab-content {
overflow: hidden;
max-height: 0;
-webkit-transition: max-height 0.35s;
-o-transition: max-height 0.35s;
transition: max-height 0.35s;
color: #333333;
background: lightblue;
}
.cp_actab01 .cp_actab-content p {
margin: 10px;

}
/* :checked */
.cp_actab01 input:checked ~ .cp_actab-content {
max-height: 20em;
}
/* Icon */
.cp_actab01 label::after {
line-height: 3;
position: absolute;
top: 0;
right: 0;
display: block;
width: 3em;
height: 3em;
-webkit-transition: all 0.35s;
-o-transition: all 0.35s;
transition: all 0.35s;
text-align: center;
}
.cp_actab01 input[type=checkbox] + label::after {
content: '♻︎';
}
.cp_actab01 input[type=checkbox]:checked + label::after {
transform: rotate(1000deg);
}